@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-border: var(--border);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-shadow: var(--shadow);
}

:root {
  --primary: #e8a80c;
  --secondary: #c4930d;
  --background: #f8f8f8;
  --foreground: #ffffff;
  --surface: #f0f0f0;
  --text: #202020;
  --text-muted: #707070;
  --border: #d4d4d4;
  --error: #d93026;
  --success: #05843e;
  --warning: #ffa500;
  --info: #0284c7;
  --shadow: rgba(0, 0, 0, 0.08);
}

.dark {
  --primary: #e8a80c;
  --secondary: #ffc547;
  --background: #121212;
  --foreground: #1c1c1c;
  --surface: #262626;
  --text: #efefef;
  --text-muted: #a0a0a0;
  --border: #404040;
  --error: #f44336;
  --success: #34d399;
  --warning: #ffab00;
  --info: #38bdf8;
  --shadow: rgba(0, 0, 0, 0.25);
}

@layer base {
  * {
    @apply border-border;
    font-family: "Roboto Mono", monospace;
  }
  body {
    @apply bg-background text-text;
  }
}