[Unit]
Description=Server
After=network.target

[Service]
User=administrator
WorkingDirectory=/home/administrator/coesco/apps/server
ExecStart=/usr/bin/npm start
Environment=FORCE_COLOR=1
Environment=NODE_ENV=production
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
